.App {
  padding-top: 55px;
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  background: #72A603;
  background: linear-gradient(
    180deg,
    #BED996 0%,
    #97BF04 15%,
    #72A603 30%,
    #3c6301 45%,
    #243b01 100%
  ) ;
}
